<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MNIST</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <style>
      .container {
        max-width: 256px;
        margin: 0 auto;
      }

      #result {
        font-family: monospace;
        font-size: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <button id="clear">清除</button>
        <button id="recognize">识别</button>
      </div>
      <div>
        <canvas width="256" height="256" id="canvas"></canvas>
        <div>
          <button id="save">保存</button>
          <select name="label" id="label">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
        <div>
          <p id="result"></p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
